.btn {
  color: white;
  border-radius: 50px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.defaultBtn {
  padding: 13px 37px;
}

.lBtn {
  padding: 40px 150px;
  border-radius: 50px;
}

.lgBtn {
  padding: 45px 161px;
  border-radius: 100px;
}

.navBtn {
  padding: 32px 24px;
  border-radius: 20px;
}

.navColourBtn {
  background-color: #f8f8f9;
  color: #002444;
  font-weight: 400;
  justify-content: space-between;
}

.primaryBtn {
  background-color: #002444;
}

.primaryBtn:hover {
  background-color: #7580ef;
}

.blackBtn {
  background-color: #000000;
}

.blackBtn:hover {
  background-color: #252525;
}

.successBtn {
  background-color: #01983e;
}

.successBtn:hover {
  background-color: #086c30;
}

.textSecondaryBtn {
  padding: 0;
  color: #7580ef;
  background-color: transparent;
  justify-content: start;
  gap: 8px;
}

.textColourBtn {
  padding: 0;
  color: #00cede;
  background-color: transparent;
  justify-content: start;
  gap: 8px;
}

@media screen and (max-width: 1200px) {
  .lgBtn {
    padding: 35px 100px;
  }
}

@media screen and (max-width: 996px) {
  .lgBtn {
    padding: 32px 20px;
  }
}


