.btn {
  color: white;
  border-radius: 50px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.defaultBtn {
  padding: 13px 37px;
}

.lBtn{
  padding: 40px 150px;
  border-radius: 50px;
}

.lgBtn {
  padding: 45px 161px;
  border-radius: 100px;
}

.navBtn{
  /* width: 345px;
  height: 88px; */
  padding: 32px 24px;
  border-radius: 20px;
}

.navColourBtn{
  background-color: #F8F8F9;
  color: #002444;
  font-weight: 400;
  justify-content: space-between;
}

.primaryBtn {
  background-color: #002444;
}

.primaryBtn:hover{
  background-color: #7580EF;
}

.blackBtn {
  background-color: #000000;
}

.blackBtn:hover{
  background-color: #252525;
}

.successBtn {
  background-color: #01983e;
}

.successBtn:hover{
  background-color: #086C30;
}

.textSecondaryBtn {
  padding: 0;
  color: #7580ef;
  background-color: transparent;
  justify-content: start;
  gap: 8px;
}

.textColourBtn{
  padding: 0;
  color: #00CEDE;
  background-color: transparent;
  justify-content: start;
  gap: 8px;
}
