.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  background: white;
  padding: 20px;
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 10;
}

.img {
  height: 24px;
  width: 24px;
}

.accordionItem {
  display: flex;
  flex-direction: column;
  background-color: #f8f8f9;
  border-radius: 16px;
}

.accordionItem button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 24px;
}

.accordionContent {
  max-height: 0;
  overflow: hidden;
}

.show {
  max-height: 1000px; 
}

.navListWrapper {
  padding: 0 8px 32px 8px;
}
