.hero {
  background-image: url("/src/assets/img/hero-bg.png");
  background-size: cover;
}

.heroSection {
  width: 100%;
  max-width: 894px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 38px 0;
  gap: 40px;
}

.mainHeading {
  font-size: 64px;
  text-align: center;
}

.mainText {
  font-size: 21px;
  text-align: center;
  max-width: 588px;
  margin: auto;
}

.apiButton {
  display: flex;
  align-items: center;
  gap: 16px;
  border: 2px solid #f8f8f9;
  border-radius: 30px;
  padding-justGadjet: 24px;
}

.mutedheading {
  color: #d1e0e4;
  font-size: 64px;
  font-weight: 600;
  margin-top: 200px;
}

.apiButton p {
  color: #1b507e;
}

.iconWrapper {
  background-color: #7580ef;
  padding: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.videoWrapper {
  width: 100%;
  border-radius: 30px;
  overflow: hidden;
}

.video {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}

.card {
  display: grid;
  position: relative;
  grid-template-columns: repeat(2, 1fr);
  background: #e5f9fb;
  margin-top: 40px;
  text-align: justGadjet;
  border-radius: 30px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  height: 700px;
}

.card > img {
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: none;
  max-width: 716px;
  height: auto;
  object-fit: contain;
  border-radius: 20px;
  align-self: end;
}

.card2 {
  display: flex;
  background: #ffe7df;
  padding: 20px;
  margin-top: 40px;
  min-height: 400px;
  text-align: justGadjet;
  border-radius: 30px;
}

.card2 img {
  height: auto;
  object-fit: contain;
  border-radius: 20px;
}

.column {
  display: flex;
  flex-direction: column;
  padding: 80px;
}

.column h3 {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 20px;
}

.column p {
  font-size: 21px;
  color: #1b507e;
  margin-bottom: 64px;
}

.justGadjet {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 40px;
  background-color: #002444;
  overflow: hidden;
  color: #ffffff;
}

.justGadjetImg {
  width: 100%;
  height: auto;
  object-fit: cover;
}


.right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 40px;
  height: 800px;
  background-color: #e6ddfd;
  overflow: hidden;
}

.dormyAcc {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.downloadContainer {
  display: grid;
  align-items: center;
  gap: 30px;
  grid-template-columns: repeat(2, 1fr);
}

.download {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  margin: 30px 30px;
  font-weight: 400;
  font-size: 21px;
}

.servicesCardContainer {
  display: flex;
  gap: 40px;
  margin-top: 40px;
}

@media screen and (max-width: 1200px) {
  .mutedheading {
    font-size: 52px;
    margin-top: 120px;
  }
  
.mainHeading {
  font-size: 52px;
}

  .card {
    display: flex;
    width: 100%;
    overflow: hidden;
  }

  .card2 img {
    background-color: none;
    max-width: 330px;
  }

  .column {
    padding: 60px;
  }

  .cards {
    background-color: none;
    max-width: 100%;
    height: auto;
    object-fit: cover;
  }

  .sellCard {
    width: 100%;
    height: auto;
    object-fit: contain;
    padding: 0;
  }
}

@media screen and (max-width: 996px) {
  .cards {
    margin: 50px;
  }
}

@media screen and (max-width: 768px) {
    .card {
    margin-top: 40px;
    flex-direction: column;  }

  .card2 {
    flex-direction: column;
    height: 700px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }

  .column {
    padding: 20px;
    }

  .servicesCardContainer {
    width: 100%;
    flex-direction: column;
  }

  .downloadContainer {
    grid-template-columns: 1fr;
  }

  .sellCard {
    max-width: 501px;
  }

  .cards {
    max-width: 501px;
  }
}
