.navbarContainer {
  border-bottom: 2px solid #f8f8f9;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 26px 0;
}

.logo {
  width: 170px;
  height: 25px;
}

.navlist {
  display: flex;
  gap: 30px;
}

.navlist li {
  cursor: pointer;
  height: 20px; 
}

.navlist li:hover{
  background-color: #F8F8F9;
  border-radius: 20px;
  padding: 3px;
}

.buttonContainer {
  display: flex;
  align-items: center;
  gap: 16px;
}

.qrButton {
  padding: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8f8f9;
  border-radius: 50%;
  position: relative;
}

.menuButton{
  display: none;
}

@media screen and (max-width: 1200px) {
  .navlist,
  .buttonContainer {
    display: none;
  }

  .menuButton {
    display: block;
  }

}
