.footer {
  margin-top: 80px;
  margin-bottom: 80px;
  gap: 91px;
  color: #1b507e;
  display: flex;
  flex-direction: row;
}

.innerfooter {
  gap: 40px;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 768px) {
  .footer {
    grid-template-columns: repeat(2, 1fr);
    
  }
}

@media screen and (max-width: 1200px) {
  .footer {
    margin: 5px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
  }
}



@media screen and (max-width: 393px) {
  .footer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
