/* .testimonialWrapper {
    padding: 60px 0;
  } */
  
  .heading {
    font-size: 48px;
    color: #d1e0e4;
    margin-bottom: 40px;
    margin-top: 200px;
  }
  
  .cardGrid {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    gap: 24px;
    /* margin-top: 40px; */
    margin: auto;
    color: #1B507E;
  }
  
  .card {
    background: #f5f5f5;
    padding: 24px;
    border-radius: 20px;
    min-width: 520px;
    max-width: 400px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  }
  
  .quote {
    width: 41px;
    height: 29px;
  }
  
  .text {
    font-size: 18px;
    color: #333;
    margin-bottom: 20px;
  }
  
  .footer {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  
  .name {
    font-weight: 600;
    color: #002444;
  }
  
  .source {
    font-size: 14px;
    color: #7580ef;
  }

  .sourceName{
    display: flex;
    flex-direction: column;
  }
  
  .sourceContainer{
    display: flex;
    gap: 239px;
  }
