.testimonialWrapper {
    padding: 60px 0;
  }
  
  .heading {
    font-size: 48px;
    color: #d1e0e4;
    margin-bottom: 40px;
  }
  
  .cardGrid {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  
  .card {
    background: #f5f5f5;
    padding: 24px;
    border-radius: 20px;
    flex: 1;
    min-width: 280px;
    max-width: 360px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  }
  
  .quoteMark {
    font-size: 48px;
    color: #7580ef;
    margin-bottom: 10px;
  }
  
  .text {
    font-size: 18px;
    color: #333;
    margin-bottom: 20px;
  }
  
  .footer {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  
  .name {
    font-weight: 600;
    color: #002444;
  }
  
  .source {
    font-size: 14px;
    color: #7580ef;
  }
  
  .newsWrapper {
    display: flex;
    gap: 20px;
    width: 100%;
    max-width: 1200px;
    height: 186px;
  }

  .news{
    height: 50px;
    width: 200px;
  }

  .dormyAcc{
    height: 690px;
    width: 720px;
  }

  .downloadContainer{
    display: flex;
    align-items: center;
    gap: 30px;
  }

  .download{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin: 30px 30px;
    font-weight: 400;
    font-size: 21px;
    /* height: 720px;
    width: 566px; */
  }

  .footer{
    margin-top: 80px;
    margin-bottom: 80px;
    gap: 91px;
    color: #1B507E;
  }

  .innerfooter{
    gap: 40px;
    display: flex;
    flex-direction: column;
  }