.newsWrapper {
  /* display: flex; */
  
  align-items: center;
  justify-content: space-between;
  margin: 61px 0 70px 0;
  gap: 12px;
}

.newsWrapper img {
  height: 100%;
  width: 189px;
  object-fit: contain;
}

@media screen and (max-width: 996) {
  .newsWrapper {
    height: auto;
    display: grid;
    grid-template-columns: repeat(3, 2fr);
  }
}
