@font-face {
  font-family: "Eina01";
  src: url("./assets/font/Eina/Eina01-Regular.ttf");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Eina01";
  src: url("./assets/font/Eina/Eina01-SemiBold.ttf");
  font-weight: 600;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Eina01", sans-serif;
  background: #ffffff;
  color: #002444;
}

a {
  all: unset;
}

ul {
  list-style-type: none;
}

button {
  all: unset;
  cursor: pointer;
}

.section-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 50px;
}

.big-text {
  color: #002444;
  font-size: 70px;
  font-weight: 600;
}

.btn2 {
  padding: 40px;
  background-color: #002444;
  color: white;
  border-radius: 60px;
  display: inline-block;
  text-decoration: none;
  height: 10px;
  width: 300px;
  text-align: center;
  margin: 30px;
}

.btn3 img {
  height: 4px;
  width: 4px;
}

@media screen and (max-width:744px) {
  *{
    padding: none;
    margin: none;
  }
  
}
