@font-face {
  font-family: "Eina01";
  src: url("./assets/font/Eina/Eina01-Regular.ttf");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Eina01";
  src: url("./assets/font/Eina/Eina01-SemiBold.ttf");
  font-weight: 600;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Eina01", sans-serif;
  background: #ffffff;
  color: #002444;
}

a {
  all: unset;
}

ul {
  list-style-type: none;
}

button {
  all: unset;
  cursor: pointer;
}

/* .header {
  display: flex;
  justify-content: space-between;
} */

/* img {
  width: 170px;
  height: 25.01px;
} */

/* .qr-btn {
  padding: 2px;
  background-color: #f8f8f9;
  border-radius: 200px;
  height: 48px;
  width: 48px;
  margin: 16px;
} */

/* .btn {
  padding: 20px;
  background-color: #002444;
  color: white;
  border-radius: 50px;
  display: inline-block;
  text-decoration: none;
  height: 10px;
  width: 100px;
  justify-content: center;
  align-items: center;
} */

.section-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 50px;
}

.btn1 {
  padding: 5px;
  background-color: #7580ef;
  border-radius: 50px;
  display: inline-block;
  height: 30px;
  width: 30px;
}

.big-text {
  color: #002444;
  font-size: 70px;
  font-weight: 600;
}

.btn2 {
  padding: 40px;
  background-color: #002444;
  color: white;
  border-radius: 60px;
  display: inline-block;
  text-decoration: none;
  height: 10px;
  width: 300px;
  text-align: center;
  margin: 30px;
}

video {
  margin: 30px;
  border-radius: 50px;
  height: 700px;
}

.text1 {
  color: #d1e0e4;
  font-size: 60px;
}

.card-container {
  margin: 5px;
}

.card {
  display: flex;
  background: #e5f9fb;
  padding: 20px;
  margin: 40px;
  height: 500px;
  text-align: left;
  border-radius: 30px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.card img {
  border-radius: 0px;
  height: 500px;
  width: 500px;
  background-color: #e5f9fb;
}

.btn3 {
  height: 4px;
  width: 4px;
}

.column {
  display: flex;
  flex-direction: column;
  background-color: #e5f9fb;
}

.card2 {
  display: flex;
  background: #ffe7df;
  padding: 20px;
  margin: 40px;
  height: 500px;
  text-align: left;
  border-radius: 30px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.card2 img {
  border-radius: 0px;
  height: 500px;
  width: 500px;
  background-color: #ffe7df;
}

.left {
  display: flex;
  flex-direction: column;
  border-radius: 40px;
  height: 800px;
  background-color: #002444;
  margin: 10px;
}

.left img {
  height: 500px;
  width: 500px;
  background-color: #002444;
}

.right {
  display: flex;
  flex-direction: column;
  border-radius: 40px;
  height: 800px;
  background-color: #e6ddfd;
  margin: 10px;
}

.right img {
  height: 300px;
  width: 300px;
  background-color: #e6ddfd;
}

.btn3 img {
  height: 4px;
  width: 4px;
}
.services-card-container {
  display: flex;
  gap: 40px;
}
