@font-face {
  font-family: "Eina01";
  src: url("./assets/font/Eina/Eina01-Regular.ttf");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Eina01";
  src: url("./assets/font/Eina/Eina01-SemiBold.ttf");
  font-weight: 600;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Eina01", sans-serif;
  background: #ffffff;
  color: #002444;
}

a {
  all: unset;
}

ul {
  list-style-type: none;
}

button {
  all: unset;
  cursor: pointer;
}

/* .header {
  display: flex;
  justify-content: space-between;
} */

/* img {
  width: 170px;
  height: 25.01px;
} */

/* .qr-btn {
  padding: 2px;
  background-color: #f8f8f9;
  border-radius: 200px;
  height: 48px;
  width: 48px;
  margin: 16px;
} */

/* .btn {
  padding: 20px;
  background-color: #002444;
  color: white;
  border-radius: 50px;
  display: inline-block;
  text-decoration: none;
  height: 10px;
  width: 100px;
  justify-content: center;
  align-items: center;
} */

.section-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 50px;
}

/* .btn1 {
  padding: 5px;
  background-color: #7580ef;
  border-radius: 50px;
  display: inline-block;
  height: 30px;
  width: 30px;
} */

.big-text {
  color: #002444;
  font-size: 70px;
  font-weight: 600;
}

.btn2 {
  padding: 40px;
  background-color: #002444;
  color: white;
  border-radius: 60px;
  display: inline-block;
  text-decoration: none;
  height: 10px;
  width: 300px;
  text-align: center;
  margin: 30px;
}

/* video {
  margin: 30px;
  border-radius: 50px;
  height: 600px;
} */





/* .btn3 {
  height: 16px;
  width: 16px;
  margin-left: 8px;
} */



.btn3 img {
  height: 4px;
  width: 4px;
}
.services-card-container {
  display: flex;
  gap: 40px;
  margin-top: 40px;
}
