.btnContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  background: white;
  padding: 20px;
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
}

.img {
  height: 24px;
  width: 24px;
}
.accordionItem {
    margin-bottom: 1rem;
  }
  
  .accordionContent {
    max-height: 0;
    overflow: hidden;
    
  }
  
  .show {
    max-height: 1000px; /* Adjust this if your content is taller */
  }
  
